In [75]:
from pyspark.sql import SparkSession
from pyspark.sql.types import (
    StructType, StructField,
    IntegerType, StringType, DateType
)
from pyspark.sql.functions import col, regexp_replace

spark = (SparkSession
         .builder
         .appName("EmployeeData")
         .master("local[*]")
         .getOrCreate()
)

schema = StructType([
    StructField("employee_id", IntegerType(), True),
    StructField("department_id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("hire_date", DateType(), True)
])

df = spark.read.csv(
    "/home/poju/Downloads/mock_emp_data.csv", header=True, inferSchema=True)
df.show()
df.printSchema()

+-----------+-------------+--------------------+---+------+---------+----------+
|employee_id|department_id|           full_name|age|gender|   salary| hire_date|
+-----------+-------------+--------------------+---+------+---------+----------+
|          1|           47|   Ellswerth Barroux| 95|  Male|$95322.23|2024-09-26|
|          2|           16| Basilius Ballintime| 95|  Male|$39736.02|2024-12-12|
|          3|           81|      Mandi Signoret| 65|Female|$67739.11|2025-04-18|
|          4|           38|       Erna Bavister| 30|Female|$51975.90|2025-03-09|
|          5|           90|    Rennie Hazeldene| 35|Female|$90769.57|2025-02-17|
|          6|           61|   Kaitlin Lidbetter| 61|Female|$76702.57|2024-09-12|
|          7|           16|        Becki Thirst| 75|Female|$95677.00|2025-04-03|
|          8|           67|   Mellisent Crosher| 97|Female|$47782.91|2024-11-07|
|          9|           46|    Cecilia Conville| 86|Female|$35129.42|2025-01-30|
|         10|           55|      Inglis Broader|  7|  Male|$69409.96|2025-03-30|
|         11|            6|       Adrian Yeulet| 66|Female|$42991.04|2024-09-17|
|         12|           27|      Dory Reucastle| 94|  Male|$83035.39|2024-09-17|
|         13|           22|         Zea Faulkes| 48|Female|$43539.33|2024-08-21|
|         14|           98|Stephannie Dudbridge|  9|Female|$68203.79|2025-04-11|
|         15|           87|      Linet Upchurch| 13|Female|$56520.28|2025-02-20|
|         16|           53|       Andrea Osorio| 59|Female|$75712.02|2025-07-22|
|         17|           94|    Vinita Mcettrick| 97|Female|$75785.36|2025-07-25|
|         18|           54|         Sonny Leddy|  8|  Male|$78601.67|2025-07-24|
|         19|           90|         Inga Lambal| 42|Female|$97975.28|2025-03-17|
|         20|           27|        Tim Tuckwell| 47|  Male|$40201.55|2025-03-04|
+-----------+-------------+--------------------+---+------+---------+----------+
only showing top 20 rows

root
 |-- employee_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- full_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: date (nullable = true)

In [69]:
df_final2 = df.filter(col("salary") > 50000)

In [91]:
df_clean = df.withColumn(
    "salary",
    regexp_replace(col("salary"), "\\$", "").cast("int")
)
    .filter(col("salary") > 50000)
)

IndentationError: unexpected indent (1628170541.py, line 5)

In [87]:
df_clean.show()

+-----------+-------------+--------------------+---+------+------+----------+
|employee_id|department_id|           full_name|age|gender|salary| hire_date|
+-----------+-------------+--------------------+---+------+------+----------+
|          1|           47|   Ellswerth Barroux| 95|  Male| 95322|2024-09-26|
|          2|           16| Basilius Ballintime| 95|  Male| 39736|2024-12-12|
|          3|           81|      Mandi Signoret| 65|Female| 67739|2025-04-18|
|          4|           38|       Erna Bavister| 30|Female| 51975|2025-03-09|
|          5|           90|    Rennie Hazeldene| 35|Female| 90769|2025-02-17|
|          6|           61|   Kaitlin Lidbetter| 61|Female| 76702|2024-09-12|
|          7|           16|        Becki Thirst| 75|Female| 95677|2025-04-03|
|          8|           67|   Mellisent Crosher| 97|Female| 47782|2024-11-07|
|          9|           46|    Cecilia Conville| 86|Female| 35129|2025-01-30|
|         10|           55|      Inglis Broader|  7|  Male| 69409|2025-03-30|
|         11|            6|       Adrian Yeulet| 66|Female| 42991|2024-09-17|
|         12|           27|      Dory Reucastle| 94|  Male| 83035|2024-09-17|
|         13|           22|         Zea Faulkes| 48|Female| 43539|2024-08-21|
|         14|           98|Stephannie Dudbridge|  9|Female| 68203|2025-04-11|
|         15|           87|      Linet Upchurch| 13|Female| 56520|2025-02-20|
|         16|           53|       Andrea Osorio| 59|Female| 75712|2025-07-22|
|         17|           94|    Vinita Mcettrick| 97|Female| 75785|2025-07-25|
|         18|           54|         Sonny Leddy|  8|  Male| 78601|2025-07-24|
|         19|           90|         Inga Lambal| 42|Female| 97975|2025-03-17|
|         20|           27|        Tim Tuckwell| 47|  Male| 40201|2025-03-04|
+-----------+-------------+--------------------+---+------+------+----------+
only showing top 20 rows

In [101]:
df_clean = (
    df.withColumn(
    "salary",
    regexp_replace(col("salary"), "\\$", "").cast("int")
    )
    .filter(col("salary") > 50000)
)

In [103]:
df_clean.show()

+-----------+-------------+--------------------+---+------+------+----------+
|employee_id|department_id|           full_name|age|gender|salary| hire_date|
+-----------+-------------+--------------------+---+------+------+----------+
|          1|           47|   Ellswerth Barroux| 95|  Male| 95322|2024-09-26|
|          3|           81|      Mandi Signoret| 65|Female| 67739|2025-04-18|
|          4|           38|       Erna Bavister| 30|Female| 51975|2025-03-09|
|          5|           90|    Rennie Hazeldene| 35|Female| 90769|2025-02-17|
|          6|           61|   Kaitlin Lidbetter| 61|Female| 76702|2024-09-12|
|          7|           16|        Becki Thirst| 75|Female| 95677|2025-04-03|
|         10|           55|      Inglis Broader|  7|  Male| 69409|2025-03-30|
|         12|           27|      Dory Reucastle| 94|  Male| 83035|2024-09-17|
|         14|           98|Stephannie Dudbridge|  9|Female| 68203|2025-04-11|
|         15|           87|      Linet Upchurch| 13|Female| 56520|2025-02-20|
|         16|           53|       Andrea Osorio| 59|Female| 75712|2025-07-22|
|         17|           94|    Vinita Mcettrick| 97|Female| 75785|2025-07-25|
|         18|           54|         Sonny Leddy|  8|  Male| 78601|2025-07-24|
|         19|           90|         Inga Lambal| 42|Female| 97975|2025-03-17|
|         21|           25|    Priscella Jubert|  9|Female| 78080|2025-07-03|
|         23|           57|       Phillip Raise| 91|  Male| 89241|2025-08-07|
|         24|           95|  Cindelyn MacGiffin| 46|Female| 50134|2025-06-02|
|         25|           27|      Felipe Brodeur| 98|  Male| 77060|2025-06-18|
|         26|            6|     Parnell Pedroli| 17|  Male| 99227|2024-10-16|
|         27|           33|    Rosamond Donwell|  1|Female| 92630|2024-09-15|
+-----------+-------------+--------------------+---+------+------+----------+
only showing top 20 rows

In [107]:
df.rdd.getNumPartitions()

1

In [109]:
df_clean.write.csv( "/home/poju/Downloads/emp_output.csv",  
    header=True,                             
    mode="overwrite"                         
)

In [111]:
df_clean.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- full_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- hire_date: date (nullable = true)

In [113]:
  df_clean.schema

StructType([StructField('employee_id', IntegerType(), True), StructField('department_id', IntegerType(), True), StructField('full_name', StringType(), True), StructField('age', IntegerType(), True), StructField('gender', StringType(), True), StructField('salary', IntegerType(), True), StructField('hire_date', DateType(), True)])